$main: #1E1E1E;
$bg: #ffffff;
$logobg: #161616;
$accent: #5E36F5;
$accent2: #B6A6F0;
$accent3: #D9D9D9;
$color7: #E0234C;
$color8: #23E04C;
$inactive: #636363;
$grey: grey;
body {
    background-color: $bg;
}
* {
    font-family: montserrat;
    box-sizing: border-box;
}
.app {
    display: flex;
    gap: 2px;
    min-height: 100dvh;
    color: white;
}

.sidebar {
    padding: 12px 4px;
    max-width: 220px;
    width: 20%;
    background-color: $main;
    display: flex;
    flex-direction: column;
    gap: 28px;
    position: sticky;
    top: 0;
    height: 100vh;
    .tablet {
        display: none;
    }
    * {
        transition: 0.1s ease-out;
        border-radius: 4px;
        user-select: none;
    }
    .logo {
        background-color: $logobg;
        font-size: 16px;
        width: fit-content;
        padding: 8px;
        margin-top: 20px;
        margin-left: 8px;
    }
    .sidebar_links {
        display: flex;
        flex-direction: column;
        gap: 22px;
        font-size: 16px;
        text-transform: capitalize;
        a {
            display: flex;
            color: $inactive;
            align-items: center;
            gap: 8px;
            padding: 8px 12px;   
        }
        :hover {
            background-color: transparentize($color: $accent, $amount: .9);
            color: white;
        }

        :active,:focus {
            background-color: $accent;
            color: white;
        }
        


    }

    .sidebar_settings {
        margin-top: auto;
        border-top: 1px solid $accent3;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        button {
            all:  unset;
            display: flex;
            align-items: center;
            padding: 10px 10px;
            gap: 8px;
            text-transform: capitalize;
            color: $inactive;
            transition: 0.1s;
        }

        :hover,:focus {
            background-color: $accent;
            color: white;
        }
    }
}

///mainpage after sidebar

.main_page {
    width: 100%;
    // background-color: red;
    display: flex;
    flex-direction: column;
    color: black;
    .header {
        background-color: $bg;
        color: black;
        min-height: 58px;
        display:flex;
        align-items: center;
        gap: 10px;
        justify-content: space-evenly;
        border-bottom: 1px solid transparentize($color: $grey, $amount: .6);
        padding: 14px;
        top: 0;
        position: sticky;
     
        .header_search {
            display: flex;
            align-items: center;
            background-color: $accent3;
            border-radius: 24px;
            padding: 4px 20px;
            width: 50%;
            input {
                all: unset;
                width: auto;
                height: 100%;
                background-color: inherit;
                width: 100%;
            }
            button {
                all: unset;
                display: grid;
                place-items: center;
                // background-color: $accent;
                border-radius: 100%;
                padding: 6px;
                svg {
                    // color: white;
                    height: 22px;
                    width: 22px;
                }
            }
           
        }
        .header_userInfo {
            display: flex;
            border-left: 1px solid transparentize($color: $grey, $amount: .6);
            padding: 0 20px;
            white-space: nowrap;
        }
        .header_notification {
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 1px solid transparentize($color: $grey, $amount: .6);
            padding: 0  12px;
            .bell {
                all: inherit;
                border-left:none ;
                border-radius: 100%;
                outline: 1px solid transparentize($color: $grey, $amount: .6);
                padding: 4px;
            }
        }
    }

}
.user {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    img {
        height: 38px;
        width: 38px;
        object-fit: cover;
        border-radius: 100%;
    }
    .name {
        font-size: 14px;
        font-weight: 800;
    }

    .id {
        font-weight: 800;
        font-size: 14px;
        color: $accent;
    }
}
////mobilenav bar
.mobile_nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 62px;
    color: black;
    left: 0;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    border-bottom: 1px transparentize($color: $grey, $amount: 0.6) solid;
    background-color: $main;
    display: none;
    justify-content: space-between;
    * {
        transition: 0.2s ease-out;
    }
    .user {
        .name {
            color: white;
        }
    }
}



/////hamburger
.ham {
    width: 32px;
    height: 32px;
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 20;
    span {
        height: 4px;
        background-color: white;
        width: 100%;

    }
}
.ham_true {
    width: 32px;
    height: 32px;
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    span {
        height: 4px;
        background-color: white;
        width: 100%;
    }
    span:first-child {
        position: absolute;
        transform: rotate(45deg);
    }
    span:last-child {
        transform: rotate(-45deg);
    }
}

//////sidebar for mobile
.m_sidebar {
    position: fixed;
    height: calc(100% - 62px);
    margin-top: 62px;
    z-index: 1;
    background-color: $main;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-out;
    .container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 30px;
        a {
            color: white;
            display: flex;
            align-items: center;
            gap: 8px;
            text-transform: capitalize;
            padding: 8px;
            border-radius: 4px;
        }
        a:hover {
            background-color: $accent;
        }
    }
}

.dashboard {
    display: flex;
    padding: 8px;
}

.balance {
    // height: 200px;
    width: 300px;
    border-radius: 8px;
    height: max-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    outline: 1px solid transparentize($color: $grey, $amount: .5);
    .balance_digit {
        display: flex;
        align-items: center;
        padding: 18px 4px;
        font-size: 22px;
        font-weight: 700;
        justify-content: space-between;
        p {
            display: flex;
            align-items: center;
        }
        .box {
            background-color: $accent2;
            height: 30px;
            width: 100px;
            border-radius: 10px;
        }
    }
    .balance_number {
        background-color: $accent;
        display: flex;
        align-items: center;
        color: white;
        justify-content: space-between;
        padding: 12px 8px;
        p {
            display: flex;
            align-items: center;
            text-transform: capitalize;
            font-size: 18px;
        }
    }
}

/// pages

.dashboard {
    height: 1000px;
    display: flex;
    gap: 10px;
    

    .chart {
        width: 100%;
        height: 200px;
        background-color: red;
    }
    .cont {
        flex-direction: column;
        .container {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
    }
    span {
        // background-color: red;
        flex: 0.5;
        padding: 4px;
        display: flex;
        gap: 10px;
        .container {
            display: flex;
            gap: 10px;
        }
        .expense {
            height: 140px;
            width: 320px;
            outline: 1px solid transparentize($color: $grey, $amount: 0.5);
            border-radius: 8px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 18px;
            }
            div {
                display: flex;
                align-items: center;
            }
            div:first-child {
                flex: 0.5;
                justify-content: space-between;
                padding: 4px;
                select {
                    background-color: $accent3;
                    border: none;
                    outline: none;
                    border-radius: 8px;
                    color: $accent;
                    font-size: 16px;
                    padding: 4px;
                    display: flex;
                    outline: none;
                    font-weight: 700;
                    outline: none;
                }
            }
            .expense_flow {
                display: flex;
                // background-color: red;
                height: 100%;
                align-items: center;
                justify-content: space-evenly;
                span {
                    all: unset;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    background-color: #F0F5FF;
                    height: 70px;
                    border-radius: 4px;
                    padding: 4px 8px;
                    // width: 70px; 
                    p {
                        font-weight: 700;
                    }
                    .expense_balance {
                        font-size: 18px;
                        color: $accent;
                        font-weight: 600;
                    }
                }
                .income {
                    .expense_balance {
                        font-size: 18px;
                        color: $accent;
                        font-weight: 600;
                        
                    }
                    .expense_balance::before {
                        content: "+";
                        margin-right: 4px;

                    }
                }
                .outgoing {
                    background-color: #FFF1F4;
                    .expense_balance {
                        color: $color7;
                    }
                    .expense_balance::before {
                        content: "-";
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}


/////transactions 
.beneficiary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    .beneficiary_price {
        color: $color8;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 2px;
    }
    .beneficiary_price::before {
        content: "+";
    }

    .negative {
        color: $color7;
    }
    .negative::before {
        content: "-";
    }
    div {
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 10px;
        div {
            all: unset;
            display: flex;
            flex-direction: column;
        }
    }
    img {
        height: 38px;
        width: 38px;
        object-fit: cover;
        border-radius: 100%;
    }
}
.transactions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 320px;
    padding: 8px 2px;
    border-radius: 8px;
    outline: 1px solid transparentize($color: $grey
    , $amount: 0.5);
    .transactions_list {
        flex-direction: column;
    }
    span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-size: 18px;
        }
    }
    button {
        all: unset;
        background-color: $accent2;
        color: $accent;
        height: fit-content;
        padding: 3px;
        font-size: 12px;
        font-weight: 600;

    }
    .option {
        align-self: flex-end;
        margin: 0 8px;
        select {
            border-radius: 2px;
            background-color: $accent;
            outline: none;
            color: white;
            font-size: 18px;
            display: flex;
            justify-content: center;
            width: fit-content;
        }
        
        
    }
}

@media screen and (max-width: 1000px) {
    .sidebar {
        width: fit-content;

        .logo {
            display: none;
        }
        .tablet {
            display: flex;
            padding: 4px;
            margin: 0;
            background-color: $logobg;
            font-size: 8px;
            align-self: center;
            text-orientation: upright;
            writing-mode: vertical-lr;
        }
        .sidebar_links {
            p {
                display: none;
            }
        }
        .sidebar_settings {
            p {
                display: none;
            }
        }
    }
    
}

.signup {
    // background-color: red;
    padding: 4px;
    display: flex;
    width: 100%;
    min-height: 100vh;
    gap: 20px;
    span {
        width: 50%;
        border-radius: 4px
    }
    .signup_element {
        background-color: $main ;
    }
    .signup_box {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: center;
        h2 {
            font-size: 32px;
        }
        .account {
            display: flex;
            gap: 4px;
            font-weight: 500;
            color: grey;
            font-size: 18px;
            a {
                color: $accent;
            }
        }
        .header {
            font-size: 32px;
            font-weight: bold;
            text-transform: capitalize;
        }
        form {
            // height: 100%;
            outline: 1px solid transparentize($color: $grey, $amount: .5);
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 4px;
            backdrop-filter: blur(10px);
            min-width: 200px;
            width: 480px;
            max-width: 520px;
            display: flex;
            flex-direction: column;
            padding: 24px 12px;
            gap: 28px;

            span {
                display: flex;
                align-items: center;
                gap: 4px;
                text-transform: capitalize;
                p {
                    color: $main;
                    font-weight: 700;
                }
            }
            div {
                display: flex;
                flex-direction: column;
                gap: 8px;
                label {
                    font-weight: 600;
                    font-size: 18px;
                    // color: #5E36F5;
                }
                input {
                    height: 48px;
                    padding: 4px ;
                    border-radius: 4px;
                    outline: 1px solid grey;
                    border: none;
                }
            }
            .line {
                align-self: center;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 18px;
            }
            .button {
                font-size: 20px;
                padding: 14px;
                width: 200px;
                // width: fit-content;
                border-radius: 8px;
                align-self: center;
                background-color: $accent;
                color: white;
                border: none;
            }
            
            .signup_alt {
                // background-color: red;
                display: flex ;
                // gap: 100px;
                justify-content: center;
                align-self: center;
                gap: 12px;
                div {
                    padding: 12px;
                    width: fit-content;
                    // background-color: blue;
                    outline: 1px solid grey;
                    border-radius: 50%;
                    img {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 500px) {
    .sidebar {
        display: none;
    }
    .mobile_nav {
        display: flex;
    }
    .header {
        display: none !important;
        // .header_search {
        //     display: none !important;
        // }
    }

}