$main: #1E1E1E;
$bg: #ffffff;
$logobg: #161616;
$accent: #5E36F5;
$acccent2: #B6A6F0;
$color6: #B6A6F0;
$color7: #E0234C;
$color8: #23E04C;

body {
    background-color: $bg;
}
* {
    font-family: montserrat;
}
.app {
    display: flex;
    gap: 2px;
    min-height: 100dvh;
    color: white;
}
.sidebar {
    padding: 12px 0;
    max-width: 180px;
    flex: 0.2;
    background-color: $main;
}